@font-face
  font-family SameSameButDifferent
  src url('../fonts/SameSameButDifferent.ttf')
  font-weight normal
  font-style normal

@font-face
  font-family DINMedium
  src url('../fonts/DIN%20Medium.ttf')
  font-weight normal
  font-style normal

@font-face
  font-family Titillium
  src url('../fonts/TitilliumText22L001.otf')
  font-weight normal
  font-style normal
