.font-title
  font-family 'SameSameButDifferent'
  font-style normal

.font-song
  font-family DINMedium
  font-style bold
  font-weight bold

.font-buttons
  font-family Titillium
  font-style bold
  font-weight bold

.font-italic
  font-style italic